@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #2cafff;
  --secondary-color: #60a3d9;

  --danger-primary-color: #dc3545;
  --danger-secondary-color: #c82333;

  --success-primary-color: #28a745;
  --success-secondary-color: #218838;
}

.iziToast-title,
.iziToast-message {
  font-family: "Outfit", sans-serif;
}

body {
  background-image: url("../images/bg_build.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

.primary {
  color: var(--primary-color);
}

.btn {
  color: black;
  padding: 10px 20px;
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: larger;
}

.btn-invisible {
  background: none;
}

.btn-invisible:hover {
  background-color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-danger {
  background-color: var(--danger-primary-color);
}

.btn-danger:hover {
  background-color: var(--danger-secondary-color);
}
